<CENTER>
<h2>Probes</h2>
<TABLE BORDER=1 WIDTH=50%>

<TR>
<TH>Site</TH>
<TH>Description</TH>
<TH>Active</TH>
</TR>

<% @probes.each do |p| %>
<TR>
<TD ALIGN=right><%= p[:site] %></TD>
<TD ALIGN=right><%= p[:description] %></TD>
<TD ALIGN=right><%= p[:active] %></TD>
</TR>
<% end %>
</TABLE>


<h2>Unregistered Probes</h2>
<TABLE BORDER=1 WIDTH=50%>

<TR>
<TH>Site</TH>
<TH>Description</TH>
<TH>Active</TH>
</TR>

<% @probes_unregistered.each do |p| %>
<TR>
<TD ALIGN=right><%= p[:site] %></TD>
<TD ALIGN=right><%= p[:description] %></TD>
<TD ALIGN=right><%= p[:active] %></TD>
</TR>
<% end %>
</TABLE>


</CENTER>
