<section class="pb-3">
	<h3 class="h4 font-weight-bold text-center"><%= @source_site %> -> <%= @dest_site %></h3>
	<h4 class="h6 font-weight-bold text-center">Last 5 ping values</h4>
	<div class="py-2">
		<table class="table table-sm small mb-0">
			<thead>
				<tr>
					<th>Time</th>
					<th>Transmitted</th>
					<th>Received</th>
					<th>Packet Loss</th>
					<th>Min</th>
					<th>Average</th>
					<th>Max</th>
					<th>Dev</th>
				</tr>
			</thead>
			<tbody>
<% @ping_metrics.each do |p| %>
				<tr>
					<td><%= Time.at(p[:timestamp]) %></td>
					<td><%= p[:transmitted] %></td>
					<td><%= p[:received] %></td>
					<td><%= p[:packet_loss] %></td>
					<td><%= p[:min] %></td>
					<td><%= p[:avg] %></td>
					<td><%= p[:max] %></td>
					<td><%= p[:mdev] %></td>
				</tr>
<% end %>
			</tbody>
		</table>
	</div>
</section>
<section class="pb-3">
	<h3 class="h5 font-weight-bold text-center mb-3">Latest Traceroute</h3>
	<pre class="font-xs mb-0">
          <%= @traceroute_out %>
	</pre>
</section>

